include libs/mixins

block meta
  - var pageClass = '';
  - var title = 'Базовый шаблон';

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title #{title}
    meta(name="keywords" content="")
    meta(name="description" content="")

    //- link(href=require('../scss/main.scss') rel='stylesheet')

    //- link(href="../img/favicon.ico" rel="shortcut icon")

  body(class=pageClass)
    block header
      include base/header.pug

    block wrapper
      section.wrapper
        h1 #{title}
        +icon('terminal-fill')

    block footer
      include base/footer.pug

    script(src=require('../js/main.js'))
    script(src=require('../js/icons.js'))
